body {
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  background-color: #ffe1e1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;
}
h1 {
  font-size: 3rem;
  color: maroon;
}
img {
  width: 120px;
  height: 120px;
  border-radius: 35%;
  margin: 20px 0;
  margin: auto;
  box-shadow: 2px 1px 6px rgb(129, 123, 123);
}
a {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #3232ea;
  display: block;
}
a:hover {
  color: black;
}
