body {
  background-color: #491b0c;
}
.container {
  margin: 8% auto;
  align-content: center;
  padding: 2rem;
  background-color: wheat;
  border-radius: 10px;
  box-shadow: 5px 3px 3px #ff4f4f1a;
  text-align: center;
  width: 50%;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 4rem;
  margin-bottom: none;
}
p {
  color: wheat;
  font-weight: 600;
  font-size: 1.2rem;
}
h2 {
  font-size: 2rem;
  color: #4e2424;
  margin: auto 2rem;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 2px 1px 6px rgb(129, 123, 123);
}
main {
  margin-top: 3rem;
}
.maroon {
  padding: 0.8rem;
  background-color: #491b0c;
  display: inline-block;
  width: 20%;
  margin: auto;
  border-radius: 30px;
}
a {
  text-decoration: none;
  color: wheat;
  display: block;
}
a:hover {
  background-color: white;
  color: black;
}
.black {
  background-color: black;
  padding: 0.8rem;
  display: inline-block;
  width: 20%;
  margin-top: 3rem;
  border-radius: 30px;
}
